<!-- New Vehicle-->
<h2>Register new vehicle</h2>

<%= form_for @vehicle, url: {action: 'create'} do |f| %>


  <div class="field">
    <%= f.label :model %> <br/>
    <%= f.text_field :model, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :vin %><br/>
    <%= f.text_field :vin, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :year %><br/>
    <%= f.date_field :year, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>

<% end %>
